  .new-response-form{
    position:relative;
    top: 25px;
    left: 550px;
    width: 140px;
    height: 40px;
  }

  .response-field {
    width: 300%;
  }

  .pubblica-risposta-button button{
    position:absolute;
    top: 480px;
    left: 830px;
    width: 140px;
    height: 40px;
  }