.login-form{
    position:relative;
    top: 25px;
    left: 550px;
    width: 600px;
    height: 450px;
}

.nickname-field{
    width: 60%;
  }

  .password-field{
    width: 60%;
  }

  .login-button button{
    position:absolute;
    top: 620px;
    left: 771px;
    width: 140px;
    height: 40px;
  }