.new-post-button button{
    margin-right: 8px;
    position:fixed;
    top: 550px;
    left: 1150px;
    width: 140px;
    height: 40px;
}

.accedi-link{
    position:absolute;
    cursor: pointer;
    top: 190px;
    right: 100px;
}

.registrati-link{
    position:absolute;
    cursor: pointer;
    top: 190px;
    right: 29px;
}

.welcome-message{
    position:absolute;
    top: 206px;
    left: 30px;
}

.logout-link{
    position:absolute;
    cursor: pointer;
    top: 206px;
    right: 29px;
}
