.new-post-button button{
    margin-right: 8px;
    position:fixed;
    top: 550px;
    left: 1150px;
    width: 140px;
    height: 40px;
}

.accedi-link{
    position:absolute;
    cursor: pointer;
    top: 190px;
    right: 100px;
}

.registrati-link{
    position:absolute;
    cursor: pointer;
    top: 190px;
    right: 29px;
}

.welcome-message{
    position:absolute;
    top: 206px;
    left: 30px;
}

.logout-link{
    position:absolute;
    cursor: pointer;
    top: 206px;
    right: 29px;
}

.filtro-citta {
    position:absolute;
    top: 200px;
    right: 825px;
    border-radius: 4px;
   
}

.filtro-button button{
    position:absolute;
    border-radius: 50%;
    height:40px;
    width:40px;
    top:212px;
    right: 777px;
}

.search-icon{
    position: absolute;
    right: 7px;
    bottom: 7px; 
}

