<mat-card class="new-post-card">
  <mat-card-title>{{post.titolo_post}}</mat-card-title>
  <mat-card-subtitle>{{post.citta_post}}</mat-card-subtitle>
  <br>
  <mat-card-subtitle>{{post.nome_utente}} - Vive a {{post.citta_utente}}</mat-card-subtitle>
  <mat-card-content>
    {{post.contenuto_post}}
  </mat-card-content>
  <mat-card-actions align="end">
    <div class="response-button">
      <button mat-flat-button color="primary" (click)="openNewResponseForm()">Rispondi</button>
  </div>
  </mat-card-actions>

</mat-card>
