mat-form-field {
    margin-right: 12px;
  }
  .new-post-form{
    position:relative;
    top: 25px;
    left: 550px;
    width: 140px;
    height: 40px;
  }
  .city-field{
    width: 200%;
  }
  
  .post-field {
    width: 300%;
  }
