<div class="new-post-form">
    <p>Citta'</p><br>
    <mat-form-field class="city-field" appearance="outline" >
      <mat-label>es. Roma, Milano, Napoli</mat-label>
      <input matInput id="city-input" [(ngModel)]="model.citta_post">
    </mat-form-field>
    <p>Titolo</p><br>
    <mat-form-field class="title-field" appearance="outline" >
      <mat-label>Inserisci qui...</mat-label>
      <input matInput id="title-input" [(ngModel)]="model.titolo_post">
    </mat-form-field>
    <p>Post</p><br>
    <mat-form-field class="post-field" appearance="outline">
      <mat-label>Inserisci qui... </mat-label>
      <textarea matInput
                id="post-input"
                [(ngModel)]="model.contenuto_post"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="7"></textarea>
    </mat-form-field>

  </div>
  <div class="pubblica-button">
    <button mat-flat-button color="primary" (click)="pubblica()">Pubblica</button>
</div>
  
